<!-- ***** Header Area Start ***** -->
<header style="background-color: #2c3540;" class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">Training<em> Studio</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section">
                            <a [routerLink]="['/home']" routerLinkActive="active" class="active">Home</a>
                        </li>
                        <li class="scroll-to-section">
                            <a [routerLink]="['/blog']" routerLinkActive="active">Blog</a>
                        </li>
                        <li class="scroll-to-section">
                            <a [routerLink]="['/classes']" routerLinkActive="active">Classes</a>
                        </li>
                        <li class="scroll-to-section">
                            <a [routerLink]="['/schedule']" routerLinkActive="active">Schedules</a>
                        </li>
                        <li class="scroll-to-section">
                            <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
                        </li> 
                        <li class="main-button">
                            <app-auth-button></app-auth-button>
                        </li>
                    </ul>
                         
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->